<!DOCTYPE html>
<html>
    <style>
        html {
            font-family: sans-serif;
            display: flex;
            align-items: start;
        }
        h4 {
            margin-block: 5px
        }

        h2 {
            margin-block: 5px
        }

        body {
            margin: 30px;
        }
    </style>
<body>
    <h1>Posts:</h1>
    <button onclick="window.location.href='/add'">Add Post</button> <br>
-----------------------------------
    {% for item in data %}
        <p>
            <h2>{{ item.title }}</h2>
            <h4>Author: {{item.author}}</h4>
        </p>
        
        <p>{{ item.content }}</p>
        <p>Links:</p>
        <ul>
            {% for link in item.refs_links %}
                <li><a href="{{ link }}">{{ link }}</a></li>
            {% endfor %}
        </ul>
        <p>Created at: {{ item.created_at }}</p>
        <button onclick="window.location.href='/edit/{{ item._id }}'">Edit</button>
        <button onclick="window.location.href='/delete/{{ item._id }}'">Delete</button> <br>
-----------------------------------
    {% endfor %}
</body>
</html>